.gradle
/build/
/bin/
!gradle/wrapper/gradle-wrapper.jar
src/main/resources/application-local.yml
src/main/resources/application-prod.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
